version: '3'
services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "5000:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
  front_end:
    build: .
    # ports:
    #   - "3000:3000"
    volumes:
      - ./src:/app/src
      - /app/node_modules
    environment:
      - REACT_APP_NAME=FRONT_END
      - CHOKIDAR_USEPOLLING=true
